<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - Blog of Web Developer Eric Phillips</title>

    <!-- Vendor css -->
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- Base css with customised bootstrap included -->
    <link href="/css/miri-ui-kit-free.css" rel="stylesheet" />

    <!-- Summernote for contact text entering -->
    <link href="/css/summernote-bs4.min.css" rel="stylesheet" />

    <!-- Stylesheet for demo page specific css -->
    <link href="/css/demo.css" rel="stylesheet" />
</head>

<body>
    <header class="miri-ui-kit-header landing-header header-bg-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-on-scroll">
            <div class="container">
                <a class="navbar-brand h1" asp-controller="Home" asp-action="Index">Mental<br />Expressions</a> @*Removed:img tag w/ logo*@
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#miriUiKitNavbar"
                    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="miriUiKitNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                Blog Sections
                            </a>
                            <div class="dropdown-menu dropdown-menu-right ">
                                <a asp-controller="Home" asp-action="Contact" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-shape-outline"></i>Contact Me</a>
                                <a href="login.html" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-lock-outline"></i>Login Page</a>
                                <a href="profile.html" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-shield-account-outline"></i>Profile Page</a>
                            </div>
                        </li>
                        
            
                        <li class="nav-item">

                            <a class="nav-link nav-icon icon-fb" href="#"><i class="mdi mdi-facebook-box"></i></a>

                            <a class="nav-link nav-icon icon-twitter" href="#"><i class="mdi mdi-twitter-box"></i></a>
    
                            <a class="nav-link nav-icon icon-insta" href="#"><i class="mdi mdi-instagram"></i></a>
                            
                        </li>
                        
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
        <div class="miri-ui-kit-header-content text-center text-white d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-4 text-white">@ViewData["HeaderContent"]</h1> 
            <p class="h4 font-weight-light text-white">@ViewData["HeaderSubContent"]</p>
            @*<p class="mt-4">
                <button class="btn btn-danger btn-pill mr-2">Watch Video</button> 
                <button class="btn btn-success btn-pill">Purchase Now</button>
                <form action="#" class="form-inline ml-lg-3">
                    <button class="btn btn-danger">Mystery Link</button>
                </form>
            </p>*@
        </div>
    </header>

    @RenderBody()
   
    <footer class="pt-5 mt-2">
        <div class="container">
            <nav class="navbar navbar-light bg-transparent navbar-expand d-block d-sm-flex text-center">
                <span class="navbar-text">&copy; Eric Phillips. All rights reserved.</span>
                <p class="footer-social-links text-center ml-auto my-auto justify-content-center">
                    <a href="#" class="icon-fb"><i class="mdi mdi-facebook-box"></i></a>
                    <a href="#" class="icon-twitter"><i class="mdi mdi-twitter-box"></i></a>
                    <a href="#" class="icon-insta"><i class="mdi mdi-instagram"></i></a>
                    <a href="#" class="icon-github"><i class="mdi mdi-github-circle"></i></a>
                </p>
                <div class="navbar-nav ml-auto justify-content-center">
                    <a href="#" class="nav-link">Support</a>
                    <a href="#" class="nav-link">Terms</a>
                    <a href="#" class="nav-link">Privacy</a>
                </div>
            </nav>
        </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/miri-ui-kit.js"></script>
    <script src="/js/summernote-bs4.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>






