
@{
    ViewData["Title"] = "Home Page";
}

<section class="miri-ui-kit-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h6 class="text-warning mb-3">Blogs</h6>
                    <h2 class="h1 font-weight-semibold mb-4">
                        Post Title?
                    </h2>
                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed esse doloremque
                        nostrum, fuga fugit minima quod delectus magni explicabo quis aliquam laborum molestiae sint
                        voluptatum ea beatae sunt rerum! Saepe.
                    </p>
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="1" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-md-6 text-right"><img src="~/img/about.png" alt="About" class="img-fluid"></div>
        </div>
    </div>
</section>

<section class="miri-ui-kit-section contact-section">
    <div class="container">
        <h2 class="text-center mb-4">Contact us</h2>
        <p class="text-center mb-4 pb-3">
            If there is something we can help you with, just let us know. We'll <br />
            be more than happy to offer you our help.
        </p>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/" class="contact-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Default">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Email@example.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Contact-number">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="submit" value="Send Message" class="btn btn-block btn-pill btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
