@{
    ViewData["Title"] = "Home Page";
}

<section class="miri-ui-kit-section mt-5">
    <div class="container">
        <div class="d-md-flex justify-content-between row">

            <div class="feature-box px-3">
                <span class="card-icon bg-danger text-white rounded-circle"><i class="mdi mdi-bell"></i></span>
                <h3 class="mb-3">Prototyping</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>


            <div class="feature-box px-3">
                <span class="card-icon bg-success text-white rounded-circle">
                    <i class="mdi mdi-heart-outline"></i>
                </span>
                <h3 class="mb-3">Branding</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>


            <div class="feature-box px-3">
                <span class="card-icon bg-primary text-white rounded-circle"><i class="mdi mdi-vibrate"></i></span>
                <h3 class="mb-3">Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>

        </div>
    </div>
</section>
<section class="miri-ui-kit-section how-we-work-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6 class="text-warning mb-3">
                    HOW WE WORK</h5>
                    <h2 class="h1 font-weight-semibold mb-4">
                        Achieve virtually any design and layout from within the
                        one template.
                    </h2>
                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed esse doloremque
                        nostrum, fuga fugit minima quod delectus magni explicabo quis aliquam laborum molestiae sint
                        voluptatum ea beatae sunt rerum! Saepe.
                    </p>
                    <p>
                        <button class="btn btn-rounded btn-danger raise-on-hover" data-toggle="lightbox" data-target="#demoVideoLightbox"><i class="mdi mdi-play"></i></button><span class="button-label text-danger font-weight-medium ml-3">SEE HOW WE WORKS</span>
                    </p>
            </div>
            <div class="col-md-6 d-md-flex justify-content-end">
                <div class="card bg-dark text-white count-card">
                    <img src="~/img/count-card-bg.jpg" alt="about 1" class="card-img">
                    <div class="card-img-overlay">
                        <div class="count-box bg-success text">
                            <span class="h2 text-white">30K</span>
                            <span class="font-weight-medium">Download</span>
                        </div>
                        <div class="count-box bg-danger">
                            <span class="h2 text-white">3323</span>
                            <span class="font-weight-medium">Customers</span>
                        </div>
                        <div class="count-box bg-warning">
                            <span class="h2 text-white">53,981</span>
                            <span class="font-weight-medium">Revenue</span>
                        </div>
                        <div class="count-box bg-primary">
                            <span class="h2 text-white">3422</span>
                            <span class="font-weight-medium">Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="miri-ui-kit-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h6 class="text-warning mb-3">
                    About us</h5>
                    <h2 class="h1 font-weight-semibold mb-4">
                        Meet our business partner who work behind the scene.
                    </h2>
                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed esse doloremque
                        nostrum, fuga fugit minima quod delectus magni explicabo quis aliquam laborum molestiae sint
                        voluptatum ea beatae sunt rerum! Saepe.
                    </p>
                    <p><button class="btn btn-primary">Learn more</button></p>
            </div>
            <div class="col-md-6 text-right"><img src="~/img/about.png" alt="About" class="img-fluid"></div>
        </div>
    </div>
</section>
<Section class="miri-ui-kit-section team-members-section">
    <div class="container">
        <h2 class="pb-2 mb-5">Team Members</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="team-card card border-0 raise-on-hover">
                    <img src="~/img/team-1.jpg" alt="Team 1" class="card-img-top">
                    <div class="card-body px-0">
                        <h5 class="card-title mb-0">Afonso Pinto</h5>
                        <p class=" font-weight-medium designation">Founded & Chairman</p>
                        <p>Achieve virtually any design and layout from with in the</p>
                        <p class="social-links">
                            <a href="#" class="icon-fb"><i class="mdi mdi-facebook-box"></i></a>
                            <a href="#" class="icon-twitter"><i class="mdi mdi-twitter-box"></i></a>
                            <a href="#" class="icon-insta"><i class="mdi mdi-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-card card border-0 raise-on-hover">
                    <img src="~/img/team-2.jpg" alt="Team 2" class="card-img-top">
                    <div class="card-body px-0">
                        <h5 class="card-title mb-0">Irene Sotelo</h5>
                        <p class=" font-weight-medium designation">Frontend Developer</p>
                        <p>Achieve virtually any design and layout from with in the</p>
                        <p class="social-links">
                            <a href="#" class="icon-fb"><i class="mdi mdi-facebook-box"></i></a>
                            <a href="#" class="icon-twitter"><i class="mdi mdi-twitter-box"></i></a>
                            <a href="#" class="icon-insta"><i class="mdi mdi-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-card card border-0 raise-on-hover">
                    <img src="~/img/team-3.jpg" alt="Team 3" class="card-img-top">
                    <div class="card-body px-0">
                        <h5 class="card-title mb-0">Marama Petera</h5>
                        <p class=" font-weight-medium designation">Designer & Creative Director</p>
                        <p>Achieve virtually any design and layout from with in the</p>
                        <p class="social-links">
                            <a href="#" class="icon-fb"><i class="mdi mdi-facebook-box"></i></a>
                            <a href="#" class="icon-twitter"><i class="mdi mdi-twitter-box"></i></a>
                            <a href="#" class="icon-insta"><i class="mdi mdi-instagram"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
<section class="miri-ui-kit-section contact-section">
    <div class="container">
        <h2 class="text-center mb-4">Work with us</h2>
        <p class="text-center mb-4 pb-3">
            If there is something we can help you with, just let us know. We'll <br />
            be more than happy to offer you our
            help.
        </p>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/" class="contact-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Default">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill"
                                   placeholder="Email@example.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-pill" placeholder="Contact-number">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="submit" value="Send Message" class="btn btn-block btn-pill btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
